<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Tipo de Perro</h3>
        </div>
        <div class="card-body">
            <form action="/tipos/edit-tipo/{{tipo.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="tittle" value="{{tipo.title}}">
                </div>
                <div class="form-group">
                    <input type="text" name="pan" class="form-control" placeholder="pan" value="{{tipo.pan}}">
                </div>
                <div class="form-group">
                    <input type="text" name="salchicha" class="form-control" placeholder="salchicha"
                        value="{{tipo.salchicha}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
                <div class="form-group">
                    <a href="/tipos" class="btn btn-danger btn-block">
                        <i class="icon-remove"></i>
                        Cancel
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>