<div class="row">
    <div class="col-md-12 offset-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Sucursales</h2>
            </div>
        </div>
    </DIV>

    {{#each sucursales}}
    <div class=" col-md-4">
        <div class="card animated fadeInDown">
            <div class="card-body">
                <img src="{{path}}" alt="" id="sizesucursales">
                <h4 class="card-title d-flex justify-content-between align-items-center">{{title}} </h4>
                <p class="card-text">
                    {{description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deserunt dolore,
                    illum, unde laboriosam vitae itaque adipisci asperiores commodi dolor totam, excepturi laudantium
                    quod fugiat voluptatibus provident minus earum dicta?
                </p>
                <p id="card-text" style="font-weight: bold">
                    {{direccion}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

</div>