 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Red Social </title>
     <link rel="stylesheet" href="/public/css/bootstrap.min.css">
     <link rel="stylesheet" href="/public/css/all.min.css">
     <link rel="stylesheet" href="/public/css/style.css">
     

 </head>
 <body>
     <nav class="nabvar nabvar-dark bg-dark">
         <div class="container">
             <a href="/" class="nabvar-brand"> <img src="/public/img/logo.png" alt="No shared" ></a>
         </div>
     </nav>
     <div class="container p-4">
         <div class="row">
             <div class="col-md-8">
                 {{{body}}}
             </div>
             <div class="col-md-4">
                 {{>stats}}
                 {{>popular}}
                 {{>comments}}
             </div>
         </div>

     </div>
     
     <script src="/public/bootstrap.min.js" ></script>
     <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/public/js/test.js"></script>
 </body>
 </html>